openapi: 3.0.3
info:
  title: Supply Chain Finance Platform API
  version: 2.0.0
  description: |
    Comprehensive API documentation for the Supply Chain Finance Platform.
    
    This API provides access to all services including:
    - Authentication and User Management
    - Supply Chain Operations
    - Financial Services
    - Blockchain Integration
    - AI/ML Analytics
    - IoT Data Processing
    - DeFi Protocols Integration
    
    All endpoints require authentication via JWT Bearer tokens unless otherwise specified.
  contact:
    name: API Support
    email: support@supplychain-finance.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.supplychain-finance.com/v2
    description: Production server
  - url: https://staging-api.supplychain-finance.com/v2
    description: Staging server
  - url: http://localhost:8080/v2
    description: Development server

tags:
  - name: authentication
    description: User authentication and authorization
  - name: users
    description: User management
  - name: supply-chain
    description: Supply chain operations and management
  - name: finance
    description: Financial services and operations
  - name: invoices
    description: Invoice management and processing
  - name: blockchain
    description: Blockchain integration and smart contracts
  - name: analytics
    description: AI/ML analytics and insights
  - name: iot
    description: IoT data processing and management
  - name: defi
    description: DeFi protocols integration
  - name: notifications
    description: System notifications and alerts

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common schemas
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 0
        size:
          type: integer
          example: 10
        total:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 10

    # User and Authentication schemas
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [ADMIN, SUPPLIER, FINANCIER, BUYER]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    # Supply Chain schemas
    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        sku:
          type: string
        category:
          type: string
        supplierId:
          type: string
          format: uuid

    Supplier:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
        address:
          type: string
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5

    Shipment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        trackingNumber:
          type: string
        status:
          type: string
          enum: [PENDING, IN_TRANSIT, DELIVERED, DELAYED]
        origin:
          type: string
        destination:
          type: string
        estimatedDelivery:
          type: string
          format: date-time
        actualDelivery:
          type: string
          format: date-time

    InventoryItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        productId:
          type: string
          format: uuid
        quantity:
          type: integer
        location:
          type: string
        lastUpdated:
          type: string
          format: date-time

    # Finance schemas
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        supplierId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        dueDate:
          type: string
          format: date
        issuedDate:
          type: string
          format: date
        status:
          type: string
          enum: [DRAFT, PENDING, APPROVED, FINANCED, PAID, OVERDUE, CANCELLED]
        invoiceNumber:
          type: string
        description:
          type: string
        blockchainHash:
          type: string

    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoiceId:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        paymentDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED]

    # Blockchain schemas
    InvoiceDetails:
      type: object
      properties:
        id:
          type: string
          format: biginteger
        supplier:
          type: string
        buyer:
          type: string
        amount:
          type: string
          format: biginteger
        dueDate:
          type: string
          format: biginteger
        isFinanced:
          type: boolean
        financier:
          type: string

    ShipmentDetails:
      type: object
      properties:
        id:
          type: string
          format: biginteger
        supplier:
          type: string
        buyer:
          type: string
        productId:
          type: string
        quantity:
          type: string
          format: biginteger
        status:
          type: string

    # Analytics schemas
    InventoryAnalytics:
      type: object
      properties:
        totalItems:
          type: integer
        totalValue:
          type: number
          format: float
        lowStockItems:
          type: integer
        turnoverRate:
          type: number
          format: float

    DemandForecast:
      type: object
      properties:
        id:
          type: integer
          format: int64
        productId:
          type: string
        predictedDemand:
          type: integer
        confidenceLevel:
          type: number
          format: float
        forecastDate:
          type: string
          format: date-time
        period:
          type: string
        createdAt:
          type: string
          format: date-time

    FraudDetection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        transactionId:
          type: string
        riskScore:
          type: number
          format: float
        isFraud:
          type: boolean
        detectionDate:
          type: string
          format: date-time
        modelVersion:
          type: string
        confidenceLevel:
          type: number
          format: float
        details:
          type: string
        createdAt:
          type: string
          format: date-time

    RiskAssessment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        supplierId:
          type: string
        riskScore:
          type: number
          format: float
        riskLevel:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        assessmentDate:
          type: string
          format: date-time
        modelVersion:
          type: string
        confidenceLevel:
          type: number
          format: float
        factors:
          type: string
        recommendations:
          type: string
        createdAt:
          type: string
          format: date-time

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          nullable: true

    # Order schemas
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        supplierId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        status:
          type: string
          enum: [PENDING, CONFIRMED, SHIPPED, DELIVERED, CANCELLED]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        orderId:
          type: integer
          format: int64
        productId:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: float

    OrderRequest:
      type: object
      properties:
        supplierId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    # Shipment schemas
    ShipmentItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipmentId:
          type: integer
          format: int64
        productId:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: float

    ShipmentRequest:
      type: object
      properties:
        origin:
          type: string
        destination:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentItem'

    ShipmentTracking:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipmentId:
          type: integer
          format: int64
        trackingNumber:
          type: string
        currentLocation:
          type: string
        status:
          type: string
        estimatedDelivery:
          type: string
          format: date-time
        events:
          type: array
          items:
            $ref: '#/components/schemas/TrackingEvent'

    TrackingEvent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        trackingId:
          type: integer
          format: int64
        timestamp:
          type: string
          format: date-time
        location:
          type: string
        status:
          type: string
        description:
          type: string

    # Analytics data schemas
    AnalyticsData:
      type: object
      properties:
        totalInvoices:
          type: integer
        totalAmount:
          type: number
          format: float
        financedAmount:
          type: number
          format: float
        averageProcessingTime:
          type: integer
        riskDistribution:
          type: object
          additionalProperties:
            type: integer

    FinanceRequest:
      type: object
      properties:
        financierId:
          type: string
        amount:
          type: number
          format: float

    # AI/ML schemas
    DemandForecastRequest:
      type: object
      properties:
        productId:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        period:
          type: string
          enum: [DAILY, WEEKLY, MONTHLY]

    FraudDetectionRequest:
      type: object
      properties:
        transactionId:
          type: string
        amount:
          type: number
          format: float
        supplierId:
          type: string
        buyerId:
          type: string
        transactionDate:
          type: string
          format: date-time

    AssignRoleRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: [USER, ADMIN, SUPPLIER, FINANCIER]

paths:
  # Authentication endpoints
  /api/auth/login:
    post:
      tags:
        - authentication
      summary: User login
      description: Authenticate user and generate JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/register:
    post:
      tags:
        - authentication
      summary: User registration
      description: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successful registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid user data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/user:
    get:
      tags:
        - authentication
      summary: Get current user
      description: Retrieve details of the currently authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/logout:
    post:
      tags:
        - authentication
      summary: User logout
      description: Logout the current user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful logout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Admin endpoints
  /api/admin/users:
    get:
      tags:
        - users
      summary: Get all users
      description: Retrieve a list of all users (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/roles/assign:
    post:
      tags:
        - users
      summary: Assign role to user
      description: Assign a role to a user (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRoleRequest'
      responses:
        '200':
          description: Role assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Supply Chain endpoints
  /api/supply/inventory:
    get:
      tags:
        - supply-chain
      summary: Get inventory items
      description: Retrieve a list of inventory items with optional filtering by location
      security:
        - bearerAuth: []
      parameters:
        - name: location
          in: query
          description: Location to filter inventory items
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved inventory items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - supply-chain
      summary: Create inventory item
      description: Create a new inventory item
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
      responses:
        '200':
          description: Inventory item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid inventory data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/inventory/{id}:
    get:
      tags:
        - supply-chain
      summary: Get inventory item by ID
      description: Retrieve a specific inventory item by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved inventory item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update inventory item
      description: Update an existing inventory item by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
      responses:
        '200':
          description: Inventory item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid inventory data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete inventory item
      description: Delete an inventory item by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Inventory item deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid inventory item ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments:
    post:
      tags:
        - supply-chain
      summary: Create shipment
      description: Create a new shipment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentRequest'
      responses:
        '200':
          description: Shipment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid shipment data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - supply-chain
      summary: Get shipments
      description: Retrieve a list of shipments with optional filtering by status
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Status to filter shipments
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved shipments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments/{id}:
    get:
      tags:
        - supply-chain
      summary: Get shipment by ID
      description: Retrieve a specific shipment by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved shipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update shipment
      description: Update an existing shipment by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shipment'
      responses:
        '200':
          description: Shipment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid shipment data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete shipment
      description: Delete a shipment by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shipment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid shipment ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments/{id}/track:
    get:
      tags:
        - supply-chain
      summary: Track shipment
      description: Get tracking information for a specific shipment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved tracking information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentTracking'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/suppliers:
    get:
      tags:
        - supply-chain
      summary: Get suppliers
      description: Retrieve a list of all active suppliers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved suppliers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Supplier'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - supply-chain
      summary: Create supplier
      description: Create a new supplier
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
      responses:
        '200':
          description: Supplier created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '400':
          description: Invalid supplier data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/suppliers/{id}:
    get:
      tags:
        - supply-chain
      summary: Get supplier by ID
      description: Retrieve a specific supplier by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved supplier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update supplier
      description: Update an existing supplier by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
      responses:
        '200':
          description: Supplier updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '400':
          description: Invalid supplier data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete supplier
      description: Delete a supplier by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Supplier deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid supplier ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/orders:
    post:
      tags:
        - supply-chain
      summary: Create order
      description: Create a new order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - supply-chain
      summary: Get orders
      description: Retrieve a list of orders with optional filtering by status
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Status to filter orders
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/orders/{id}:
    get:
      tags:
        - supply-chain
      summary: Get order by ID
      description: Retrieve a specific order by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/inventory:
    get:
      tags:
        - analytics
      summary: Get inventory analytics
      description: Retrieve inventory analytics data
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAnalytics'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/metrics:
    get:
      tags:
        - analytics
      summary: Get supply chain metrics
      description: Retrieve comprehensive supply chain metrics including AI-enhanced analytics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved metrics
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/financial:
    get:
      tags:
        - analytics
      summary: Get financial metrics
      description: Retrieve financial metrics for the supply chain
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved financial metrics
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
                  format: float
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/demand-forecast/{productId}:
    get:
      tags:
        - analytics
      summary: Get demand forecast
      description: Retrieve AI-generated demand forecast for a product
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          description: Product ID
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: Forecast period (DAILY, WEEKLY, MONTHLY)
          required: false
          schema:
            type: string
            default: WEEKLY
      responses:
        '200':
          description: Successfully retrieved demand forecast
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandForecast'
        '400':
          description: Invalid product ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/risk-assessment/supplier/{supplierId}:
    get:
      tags:
        - analytics
      summary: Get supplier risk assessment
      description: Retrieve AI-generated risk assessment for a supplier
      security:
        - bearerAuth: []
      parameters:
        - name: supplierId
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved risk assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessment'
        '400':
          description: Invalid supplier ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
openapi: 3.0.3
info:
  title: Supply Chain Finance Platform API
  version: 2.0.0
  description: |
    Comprehensive API documentation for the Supply Chain Finance Platform.
    
    This API provides access to all services including:
    - Authentication and User Management
    - Supply Chain Operations
    - Financial Services
    - Blockchain Integration
    - AI/ML Analytics
    - IoT Data Processing
    - DeFi Protocols Integration
    
    All endpoints require authentication via JWT Bearer tokens unless otherwise specified.
  contact:
    name: API Support
    email: support@supplychain-finance.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.supplychain-finance.com/v2
    description: Production server
  - url: https://staging-api.supplychain-finance.com/v2
    description: Staging server
  - url: http://localhost:8080/v2
    description: Development server

tags:
  - name: authentication
    description: User authentication and authorization
  - name: users
    description: User management
  - name: supply-chain
    description: Supply chain operations and management
  - name: finance
    description: Financial services and operations
  - name: invoices
    description: Invoice management and processing
  - name: blockchain
    description: Blockchain integration and smart contracts
  - name: analytics
    description: AI/ML analytics and insights
  - name: iot
    description: IoT data processing and management
  - name: defi
    description: DeFi protocols integration
  - name: notifications
    description: System notifications and alerts

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common schemas
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 0
        size:
          type: integer
          example: 10
        total:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 10

    # User and Authentication schemas
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [ADMIN, SUPPLIER, FINANCIER, BUYER]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    # Supply Chain schemas
    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        sku:
          type: string
        category:
          type: string
        supplierId:
          type: string
          format: uuid

    Supplier:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
        address:
          type: string
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5

    Shipment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        trackingNumber:
          type: string
        status:
          type: string
          enum: [PENDING, IN_TRANSIT, DELIVERED, DELAYED]
        origin:
          type: string
        destination:
          type: string
        estimatedDelivery:
          type: string
          format: date-time
        actualDelivery:
          type: string
          format: date-time

    InventoryItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        productId:
          type: string
          format: uuid
        quantity:
          type: integer
        location:
          type: string
        lastUpdated:
          type: string
          format: date-time

    # Finance schemas
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        supplierId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        dueDate:
          type: string
          format: date
        issuedDate:
          type: string
          format: date
        status:
          type: string
          enum: [DRAFT, PENDING, APPROVED, FINANCED, PAID, OVERDUE, CANCELLED]
        invoiceNumber:
          type: string
        description:
          type: string
        blockchainHash:
          type: string

    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoiceId:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        paymentDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED]

    # Blockchain schemas
    InvoiceDetails:
      type: object
      properties:
        id:
          type: string
          format: biginteger
        supplier:
          type: string
        buyer:
          type: string
        amount:
          type: string
          format: biginteger
        dueDate:
          type: string
          format: biginteger
        isFinanced:
          type: boolean
        financier:
          type: string

    ShipmentDetails:
      type: object
      properties:
        id:
          type: string
          format: biginteger
        supplier:
          type: string
        buyer:
          type: string
        productId:
          type: string
        quantity:
          type: string
          format: biginteger
        status:
          type: string

    # Analytics schemas
    InventoryAnalytics:
      type: object
      properties:
        totalItems:
          type: integer
        totalValue:
          type: number
          format: float
        lowStockItems:
          type: integer
        turnoverRate:
          type: number
          format: float

    DemandForecast:
      type: object
      properties:
        id:
          type: integer
          format: int64
        productId:
          type: string
        predictedDemand:
          type: integer
        confidenceLevel:
          type: number
          format: float
        forecastDate:
          type: string
          format: date-time
        period:
          type: string
        createdAt:
          type: string
          format: date-time

    FraudDetection:
      type: object
      properties:
        id:
          type: integer
          format: int64
        transactionId:
          type: string
        riskScore:
          type: number
          format: float
        isFraud:
          type: boolean
        detectionDate:
          type: string
          format: date-time
        modelVersion:
          type: string
        confidenceLevel:
          type: number
          format: float
        details:
          type: string
        createdAt:
          type: string
          format: date-time

    RiskAssessment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        supplierId:
          type: string
        riskScore:
          type: number
          format: float
        riskLevel:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        assessmentDate:
          type: string
          format: date-time
        modelVersion:
          type: string
        confidenceLevel:
          type: number
          format: float
        factors:
          type: string
        recommendations:
          type: string
        createdAt:
          type: string
          format: date-time

    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          nullable: true

    # Order schemas
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        supplierId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        status:
          type: string
          enum: [PENDING, CONFIRMED, SHIPPED, DELIVERED, CANCELLED]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        orderId:
          type: integer
          format: int64
        productId:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: float

    OrderRequest:
      type: object
      properties:
        supplierId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    # Shipment schemas
    ShipmentItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipmentId:
          type: integer
          format: int64
        productId:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: float

    ShipmentRequest:
      type: object
      properties:
        origin:
          type: string
        destination:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentItem'

    ShipmentTracking:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipmentId:
          type: integer
          format: int64
        trackingNumber:
          type: string
        currentLocation:
          type: string
        status:
          type: string
        estimatedDelivery:
          type: string
          format: date-time
        events:
          type: array
          items:
            $ref: '#/components/schemas/TrackingEvent'

    TrackingEvent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        trackingId:
          type: integer
          format: int64
        timestamp:
          type: string
          format: date-time
        location:
          type: string
        status:
          type: string
        description:
          type: string

    # Analytics data schemas
    AnalyticsData:
      type: object
      properties:
        totalInvoices:
          type: integer
        totalAmount:
          type: number
          format: float
        financedAmount:
          type: number
          format: float
        averageProcessingTime:
          type: integer
        riskDistribution:
          type: object
          additionalProperties:
            type: integer

    FinanceRequest:
      type: object
      properties:
        financierId:
          type: string
        amount:
          type: number
          format: float

    # AI/ML schemas
    DemandForecastRequest:
      type: object
      properties:
        productId:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        period:
          type: string
          enum: [DAILY, WEEKLY, MONTHLY]

    FraudDetectionRequest:
      type: object
      properties:
        transactionId:
          type: string
        amount:
          type: number
          format: float
        supplierId:
          type: string
        buyerId:
          type: string
        transactionDate:
          type: string
          format: date-time

    AssignRoleRequest:
      type: object
      properties:
        userId:
          type: string
        role:
          type: string
          enum: [USER, ADMIN, SUPPLIER, FINANCIER]

paths:
  # Authentication endpoints
  /api/auth/login:
    post:
      tags:
        - authentication
      summary: User login
      description: Authenticate user and generate JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/register:
    post:
      tags:
        - authentication
      summary: User registration
      description: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successful registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid user data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/user:
    get:
      tags:
        - authentication
      summary: Get current user
      description: Retrieve details of the currently authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/logout:
    post:
      tags:
        - authentication
      summary: User logout
      description: Logout the current user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful logout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Admin endpoints
  /api/admin/users:
    get:
      tags:
        - users
      summary: Get all users
      description: Retrieve a list of all users (admin only)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/roles/assign:
    post:
      tags:
        - users
      summary: Assign role to user
      description: Assign a role to a user (admin only)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRoleRequest'
      responses:
        '200':
          description: Role assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Supply Chain endpoints
  /api/supply/inventory:
    get:
      tags:
        - supply-chain
      summary: Get inventory items
      description: Retrieve a list of inventory items with optional filtering by location
      security:
        - bearerAuth: []
      parameters:
        - name: location
          in: query
          description: Location to filter inventory items
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved inventory items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - supply-chain
      summary: Create inventory item
      description: Create a new inventory item
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
      responses:
        '200':
          description: Inventory item created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid inventory data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/inventory/{id}:
    get:
      tags:
        - supply-chain
      summary: Get inventory item by ID
      description: Retrieve a specific inventory item by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved inventory item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update inventory item
      description: Update an existing inventory item by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
      responses:
        '200':
          description: Inventory item updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400':
          description: Invalid inventory data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete inventory item
      description: Delete an inventory item by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Inventory item ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Inventory item deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid inventory item ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Inventory item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments:
    post:
      tags:
        - supply-chain
      summary: Create shipment
      description: Create a new shipment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentRequest'
      responses:
        '200':
          description: Shipment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid shipment data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - supply-chain
      summary: Get shipments
      description: Retrieve a list of shipments with optional filtering by status
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Status to filter shipments
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved shipments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments/{id}:
    get:
      tags:
        - supply-chain
      summary: Get shipment by ID
      description: Retrieve a specific shipment by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved shipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update shipment
      description: Update an existing shipment by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shipment'
      responses:
        '200':
          description: Shipment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          description: Invalid shipment data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete shipment
      description: Delete a shipment by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shipment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid shipment ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/shipments/{id}/track:
    get:
      tags:
        - supply-chain
      summary: Track shipment
      description: Get tracking information for a specific shipment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Shipment ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved tracking information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentTracking'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shipment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/suppliers:
    get:
      tags:
        - supply-chain
      summary: Get suppliers
      description: Retrieve a list of all active suppliers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved suppliers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Supplier'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - supply-chain
      summary: Create supplier
      description: Create a new supplier
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
      responses:
        '200':
          description: Supplier created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '400':
          description: Invalid supplier data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/suppliers/{id}:
    get:
      tags:
        - supply-chain
      summary: Get supplier by ID
      description: Retrieve a specific supplier by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved supplier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - supply-chain
      summary: Update supplier
      description: Update an existing supplier by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
      responses:
        '200':
          description: Supplier updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '400':
          description: Invalid supplier data or ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - supply-chain
      summary: Delete supplier
      description: Delete a supplier by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Supplier deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid supplier ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Supplier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/orders:
    post:
      tags:
        - supply-chain
      summary: Create order
      description: Create a new order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order data provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - supply-chain
      summary: Get orders
      description: Retrieve a list of orders with optional filtering by status
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Status to filter orders
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/orders/{id}:
    get:
      tags:
        - supply-chain
      summary: Get order by ID
      description: Retrieve a specific order by its ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: Order ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/inventory:
    get:
      tags:
        - analytics
      summary: Get inventory analytics
      description: Retrieve inventory analytics data
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAnalytics'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/metrics:
    get:
      tags:
        - analytics
      summary: Get supply chain metrics
      description: Retrieve comprehensive supply chain metrics including AI-enhanced analytics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved metrics
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/financial:
    get:
      tags:
        - analytics
      summary: Get financial metrics
      description: Retrieve financial metrics for the supply chain
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved financial metrics
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: number
                  format: float
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/demand-forecast/{productId}:
    get:
      tags:
        - analytics
      summary: Get demand forecast
      description: Retrieve AI-generated demand forecast for a product
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          description: Product ID
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: Forecast period (DAILY, WEEKLY, MONTHLY)
          required: false
          schema:
            type: string
            default: WEEKLY
      responses:
        '200':
          description: Successfully retrieved demand forecast
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandForecast'
        '400':
          description: Invalid product ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/supply/analytics/risk-assessment/supplier/{supplierId}:
    get:
      tags:
        - analytics
      summary: Get supplier risk assessment
      description: Retrieve AI-generated risk assessment for a supplier
      security:
        - bearerAuth: []
      parameters:
        - name: supplierId
          in: path
          description: Supplier ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved risk assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessment'
        '400':
          description: Invalid supplier ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
